<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Seattle Revolutionary Socialists</title>
  <link rel="stylesheet" href="https://communistjesus.github.io/srsnewwebsite/out.css">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <script src="https://kit.fontawesome.com/a2aa0616f7.js" crossorigin="anonymous"></script>
  <!-- I owe Gwen cover fire during the revolution -->
  <meta name="viewport" content="width=device-width, intitial-scale=1.0" />
</head>

<body>
  <nav style="font-size: 1.5rem; font-family: 'Anton'">
    <div class="mx-auto flex max-w-6xl items-bottom justify-between px-4 py-3">
      <img src="https://communistjesus.github.io/srsnewwebsite/srs.svg" style="width: calc(.35 * 474px); height: calc(.35 * 243px);"
            alt="Seattle Revolutionary Socialists Logo">
      <button class="sm:hidden" aria-label="Open menu">
        ☰
      </button>
      <div class="hidden gap-6 sm:flex items-baseline-last">
        <!-- TODO: find some way to get this piped in correctly -->
        <span><a href="https://communistjesus.github.io/srsnewwebsite" class="btn">Home</a></span>
        <div class="z-2 relative inline-block">
          <button class="btn peer">About Us</button>

          <div class="opacity-100 absolute left-0 top-full hidden w-52 flex-col bg-white shadow-lg
           peer-hover:flex hover:flex">
            <a class="btn hover:underline px-5 py-3 text-black" href="{{ get_url(path='@/pages/wherewestand.md') }}">Where We Stand</a>
            <a class="btn hover:underline px-5 py-3 text-black" href="{{ get_url(path='@/pages/codeofconduct.md') }}">Code of Conduct</a>
          </div>
        </div>
        </span>
        <span>
          <a href="{{ get_url(path='@/events/_index.md') }}" class="btn">Events Calendar</a></span>
        <span> <a href="{{ get_url(path='@/perspectives/_index.md') }}" class="btn">Perspectives</a>
        </span>
        <span> <a href="{{ get_url(path='@/pages/contact.md') }}" class="btn">Contact</a>
        </span>
        <!-- <a href="{{ get_url(path='@/system/_index.md') }}">Design System</a> -->
      </div>
    </div>
  </nav>
  {% block content %} {% endblock content %}
  <section class="text-black text-center" style="background-color: var(--primary-bg-color);">
    <div class="p-10 pb-16">
      <h2 style="font-family: 'Anton';">Let's Get Social(ist)</h2>
      <div style="color: white;"> <a href="https://www.facebook.com/seattlerevolutionarysocialists">Like and follow us
          on
          <strong class="btn">Facebook</strong>!</a>
      </div>
      <div style="color: white;"><a href="https://www.instagram.com/seattlerevolutionarysocialists/">Or find us on
          <strong class="btn">Instagram</strong>:
          @seattlerevolutionarysocialists</a></div>
    </div>
  </section>
</body>

</html>