{% extends "base.html" %}

{% block content %}
<main>
    <section class="opacity-90 h-150 bg-center text-center flex justify-around flex-col"
        style="background-image: url('https://communistjesus.github.io/srsnewwebsite/childcomrade.jpg'); background-color: grey;">
        <h1 class="opacity-90 drop-shadow-lg/50">Code of Conduct</h1>
    </section>
    <section class="p-4 text-black single-column" style="background-color: var(--primary-bg-color);">
        <div class="md:w-1/2"> “In a serious struggle there is no worse cruelty than to be magnanimous at an inopportune
            time.” </div>
        <div class="text-right">— Leon Trotsky
        </div>
    </section>
    <section class="p-4 text-center single-column">
        <div> Seattle Revolutionary Socialists (SRS) is an organization of people committed to a political project of
            working-class liberation and socialism. We oppose class exploitation and all forms of oppression, including,
            but not limited to, racism, sexism, LGBTQ+ oppression, disability, and discrimination based on religion and
            national identity. We are also committed to the political vision of socialism from below, that is, the idea
            that workers and the oppressed must liberate themselves, rather than relying on capitalist politicians,
            charity or other types of saviors. These political commitments are best expressed in our Where We Stand
            document.
        </div>
        <div>The SRS expects its members to behave in a way that is consistent with this political commitment, both in
            their personal lives and publicly. While this does not mean that we police every choice our members make,
            members must keep in mind that they are politically accountable to the SRS as long as they are a member and
            act accordingly.
        </div>
        <div>The purpose of this code of conduct is to clarify what it means for members to be accountable to SRS, and
            to help members hold each other accountable. It is not a legal contract nor is it a set of strict by-laws.
            Just because a certain action is not explicitly forbidden here does not necessarily mean that it is
            permitted. In general, members may be disciplined for any action which goes against the core politics stated
            in the Where We Stand.
        </div>
        <div>Disciplinary actions may include anything from an informal discussion to expulsion from the organization.
            Where possible, issues should be resolved without resorting to formal disciplinary proceedings. However, in
            some cases, formal disciplinary proceedings will be necessary.
        </div>
        <div>The Where We Stand is generally clear about SRS’ core politics. However, certain actions tend to recur
            frequently, even in revolutionary socialist organizations. The next few sections will cover these and
            provide guidelines for handling them.
        </div>
        <h2>Oppression</h2>

        <div>The use of oppressive language which denigrates anyone based on their race, gender, sexual orientation,
            disability status, housing status, religion, or national identity is explicitly prohibited, whether the
            recipient of such language is a member or not. Oppressive language can include epithets, slurs, negative
            stereotypes, denigrating jokes, or the sharing of written or graphic material of an oppressive nature.
        </div>
        <div>Members are prohibited from supporting political causes which further systemic oppression. This includes
            creating or distributing written or graphic material in support of reactionary political causes, candidates,
            organizations or historical figures.
        </div>
        <div>SRS’ commitment to fighting oppression means standing in opposition to the institutions responsible for
            upholding it. In particular, holding a position as a law enforcement officer (LEO) is incompatible with the
            political commitments of SRS membership. Accordingly, any current LEOs are ineligible for membership, and
            any member who becomes an LEO will be immediately expelled. Types of LEOs include, but are not limited to,
            police officers, prosecutors, judges, border patrol agents, and FBI agents. Former LEOs are not prohibited
            from membership. However, former LEOs seeking membership must disclose the nature, length and dates of their
            employment as an LEO to organizational leadership prior to joining.
        </div>
        <h2>Sexual Misconduct
        </h2>
        <div>Sexual and romantic relationships between members are not prohibited. However, SRS is a political
            organization, not a social club or a dating service. The basis of most, if not all, relationships members
            should have between each other should be primarily political in nature. Members who show a consistent
            pattern of confusing political and romantic relationships may be subject to discipline. All members should
            keep this in mind, especially when interacting with contacts or newer members.
        </div>
        <div>All sexual and romantic relationships which members engage in must be consensual in nature. A sexual
            relationship is considered consensual when all participants knowingly, willingly and enthusiastically engage
            in sexual activity. Consent must be given continuously throughout the whole duration of the sexual activity.
        </div>
        <div>Sexual encounters which involve the use of coercion, implicit or explicit threats, force, or drugs such as
            alcohol, rohypnol (“roofies”) or other similar substances, are not considered consensual. Unequal power
            dynamics also preclude true consent. This means we do not consider sexual encounters between minors and
            adults, students and teachers, employees and bosses, etc. consensual. The absence of a “no” is not
            necessarily a “yes”.
        </div>
        <div>Any member accused of sexual misconduct, such as rape, intimate partner violence, abuse or sexual
            harassment will be immediately expelled. Anyone, including non-members, may accuse any member at any time,
            for any act of misconduct in the past or present. There is no “statute of limitations” on allegations of
            sexual misconduct. A member may be reinstated if and only if they can prove beyond any reasonable doubt that
            they did not commit the act they were accused of.
        </div>
        <div>This standard is based on the fact that the vast majority of accusations of sexual misconduct are true, and
            that mishandling allegations of sexual misconduct has had disastrous consequences for revolutionary
            organizations in the past. We have no way to realistically investigate the truth of claims against our
            members. Even if we did, we have no way to correct this type of behavior. While this “guilty until proven
            innocent” standard may result in innocent members being expelled in some cases, this is a risk we have
            chosen to accept.
        </div>
        <h2>Political commitment
        </h2>
        <div>SRS does not seek to control every aspect of members’ political speech or activity, nor does SRS want to
            intrude on the personal lives of its members. Nevertheless, certain actions which run contrary to the
            political commitment stated in the Where We Stand must be spelled out as explicitly prohibited.
        </div>
        <div>SRS is committed to a project of working-class self-emancipation and revolution. In order to achieve this,
            we seek to build working-class organizations independent of capitalist political influence. For this reason,
            we do not publicly support capitalist politicians or parties, such as the Democrats or Republicans.
            Concretely, this means SRS members are prohibited from providing any support to capitalist politicians or
            parties. Some example forms of public support include writing articles, publishing polemics, or making
            speeches in favor of such politicians or parties. This prohibition also extends to campaigning for so-called
            “progressive” Democrats such as Bernie Sanders, Alexandria Ocasio-Cortez, and others.
        </div>
        <div>This does not mean SRS seeks to control its members' choices at the ballot box. However, SRS may
            occasionally take public political positions in favor of ballot initiatives and independent working-class
            candidates.
        </div>
        <div>Apart from this, SRS seeks to engage in principled debate with other organizations on the Left to win
            workers and activists to a revolutionary Marxist perspective. Principled debate with other organizations is
            only possible if lines of membership are clear. For this reason, SRS prohibits members from holding
            membership in other political organizations that fundamentally conflict with any part of the Where We Stand.
            This includes organizations such as Democratic Socialists of America (DSA).
        </div>
        <h2>Comradely debate
        </h2>
        <div>Rigorous debate is one of the hallmarks of any socialist organization. We can expect sharp debates to break
            out from time to time, and we do not wish to avoid discussing our political differences. However, we expect
            debates to be conducted with civility and respect, as comrades committed to the same political struggle.
        </div>
        <div>Whenever sharp debates break out, they should be conducted during meetings. If a debate goes on past the
            amount of time available in the meeting, in most cases it can be continued in the next meeting. Minority
            positions should be welcomed so long as they don’t conflict with the basic politics laid out in the Where We
            Stand.
        </div>
        <div>In some cases, debates may go on longer than is productive. In these cases, it is best for both sides to
            take a step back, and if necessary, resume the debate later. Sometimes, fundamental and irreconcilable
            political differences may arise between members. In cases such as these, letting go of members with
            irreconcilable views and potentially updating the Where We Stand is generally the best course of action.
        </div>
        <h2>Guidelines for formal disciplinary proceedings
        </h2>
        <div>Formal discipline can be initiated by any member or contact by reaching out to a member of the coordinating
            committee (CC). The CC will then organize a meeting among other members to determine what to do. In most
            cases, the disciplinary process will seek a sincere apology from the member who erred to the one who was
            wronged, privately or to all membership depending on the circumstances. The disciplined member may then be
            put on a probationary period or have a temporary suspension of membership depending on the severity, as
            democratically decided by the organization’s other members.
        </div>
        <div>In cases of serious infractions which demand immediate expulsion, the member should be informed that they
            are expelled by a member who can act as a trusted, impartial third-party. This notice must at least be
            conducted over email or other written media, as well as through other types of communication where
            necessary. Their access to SRS resources and accounts should be revoked as soon as possible, including
            access to the bank account, slack, email, and other social media accounts.
        </div>
        <h2>Summary
        </h2>
        <div>Members should revisit the code of conduct periodically and propose updates where necessary. Issues which
            are important today may not be important tomorrow. New issues may arise.
        </div>
        <div>In general, the code of conduct is meant to help hold members accountable to SRS politics. However, it is
            merely a guide – members are accountable to each other, not the code of conduct. Accordingly, this document
            may be amended at any time through a proposal and vote among membership.
        </div>
        <div><em>Last updated on March 20th, 2023.</em></div>
    </section>
</main>


{% endblock content %}