{% extends "base.html" %}

{% block content %}
<main>
    <section class="opacity-90 h-150 bg-cover text-center flex justify-around flex-col"
        style="background-image: url('{{ get_url(path='freefuckingpalestine.jpg', ) }}'); background-color: grey;">
        <h1 class="opacity-90 drop-shadow-lg/50"><span style="color: var(--primary-bg-color)">Contact</span> Us</h1>
    </section>
    <section class="p-4 text-black single-column" style="background-color: var(--primary-bg-color);">
        <div class="md:w-1/2"> “I could never again raise my voice against the violence of the oppressed in the ghettos
            without having first spoken clearly to the greatest purveyor of violence in the world today: my own
            government.” </div>
        <div class="text-right">— Martin Luther King Jr.
        </div>
    </section>
    <section class="p-4 text-center single-column">
        <h2>How to Get Involved</h2>

        <div>We welcome new members who share our political orientation and aspirations!
        </div>
        <div><strong>We meet on Tuesday evenings from 7–9 pm PST on Zoom (bit.ly/srszoomlink) and in person at Christ Episcopal
            Church (4548 Brooklyn Ave NE, Seattle, WA 98105), unless otherwise stated. For confirmation, please see</strong> <a href="{{ get_url(path='@/events/_index.md') }}" class="btn underline underline-offset-4">our
            calendar</a>.
        </div>
        <div>Typically, the first half of our general meeting consists of presentations and discussions on topics
            relevant to revolutionary socialism, while the second half is our business meeting in which we discuss local
            organizing efforts, engage in democratic decision-making, and hear reports from comrades, committees, and
            work groups. We welcome participation from anyone else interested in socialism or changing the world.
        </div>
        <div>If you’re interested in joining our organization or just our mailing list, fill out the form below and
            we’ll get back to you as soon as possible.
        </div>
        <h2>TODO: DO FUCKING FORM</h2>
        <img style="margin: 0 auto; display: block;" src="{{ get_url(path='srssign.jpeg', ) }}" alt="A protest sign bearing the text 'SEATTLE REVOLUTIONARY SOCIALISTS', defiant fists and the sickle and hammer">
    </section>
</main>


{% endblock content %}