{% extends "base.html" %}

{% block content %}
<main class="width: 100vw;">
  <section class="opacity-90 h-125 bg-center text-center flex justify-around flex-col"
    style="background-image: url('swp.jpg'); background-color: grey;">
    <h1 class="opacity-90 drop-shadow-lg/50">Let's <span style="color: var(--primary-bg-color)">organize</span> for a
      better future.</h1>
    <div>
      <a class="" href="https://www.instagram.com/seattlerevolutionarysocialists/"><i
          class="active:shadow-lg duration-300 hover:scale-120 fa-brands fa-instagram social-media-icon "></i></a>
      <a href="https://www.facebook.com/seattlerevolutionarysocialists"><i
          class="active:shadow-lg duration-300 hover:scale-120 fa-brands fa-facebook social-media-icon "></i></a>
      <a href="https://twitter.com/SEAsocialists"><i class="active:shadow-lg duration-300 hover:scale-120 fa-brands fa-twitter social-media-icon "></i></a>
    </div>
  </section>
  <section class="p-12 flex flex-col text-center" style="max-width: 964px; margin: 0 auto;">
    <h2>Hi there, comrade!</h2>
    <p class="block-auto"><strong>Seattle Revolutionary Socialists is a local organization committed to collective study and
        struggle.</strong> We organize together on the basis of mutual commitment to revolutionary socialism,
      internationalism, and liberation from all oppression. Our politics are distinct from social democrats, anarchists,
      and other socialists, though we happily work with any of them toward common goals. We are communists in the
      tradition of Marx, Engels, Lenin, Trotsky, and Luxemburg.</p>
    <hr class="m-4"/>
    <div class="flex justify-between acc-flex-dir p-16">
      <p><strong>The Seattle Revolutionary Socialists</strong> started in 2019 from members of the Seattle Branch of
        the
        International Socialist Organization, a 42-year-old organization that dissolved in March 2019. We're working
        with
        other locals that stayed together and other socialist organizations around the country to build a new national
        organization, currently Firebrand communists.</p>
      <p>We seek to develop ourselves and others as a cadre of Marxist activists trained through collective study and
        struggle. We are dedicated to the study and application of revolutionary socialist theory, history, strategy,
        and
        tactics. We intervene in social movements and labor struggles to the best of our ability, in order to advance
        those fights and win our fellow fighters to revolutionary socialism.</p>

    </div>
    <div>
      <div>“Socialism does not mean the convening of parliaments and the enactment of laws. It means the overthrow of
        the
        ruling classes by the proletariat.”</div>
      <div class="text-right">— Rosa Luxemburg</div>
    </div>
  </section>
  
</main>
{% endblock content %}