{% extends "base.html" %}

{% block content %}
<main>
    <section class="p-8 text-black text-center" style="background-color: var(--primary-bg-color);">
        <div class="p-10 pb-16">
            <h2 style="font-family: 'Anton'; color: white;">Perspectives</h2>
            <div style="color: black;">Socialist analysis from our comrades. The opinions expressed herein are not
                necessarily the views of the SRS as a whole, unless stated otherwise.</div>
    </section>
    {% for page in section.pages %}
    <section class="p-8 flex acc-flex-dir justify-center items-center align-center md:w-3/4" style="margin: 0 auto;">
        <div class="m-2 p-4 flex items-center min-size-lg-screen-article-image-container"><a class="block" href="{{ page.permalink | safe }}">
            <img width="400" class="article-image"
                    style="max-width: none; max-height: none;" src="https://communistjesus.github.io/srsnewwebsite/perspectives/{{page.extra.image}}"
                    alt="{{page.extra.imageAlt}}" />
        </a></div>
        <div class="m-2 p-4 article-image text-center">
            <div>{{page.date}}</div>
            <h3> <a href="{{ page.permalink | safe }}">{{ page.title }}</h3>
            <div> <a class="btn underline underline-offset-4" href="{{ page.permalink | safe }}"><span
                        style="color: var(--primary-bg-color)">Read</span> More</a>
            </div>
        </div>
    </section>
    {% endfor %}
</main>


{% endblock content %}