{% extends "base.html" %}

{% block content %}
<main style="width: 100vw;">
    <section
        class="opacity-90 h-100 bg-center text-center flex justify-around flex-col"
        style="background-image: url('/crispmic.jpg'); background-color: grey;">
        <h1 class="opacity-90 drop-shadow-lg/50">Where we stand</h1>
    </section>
    <section class="p-4 text-black single-column" style="background-color: var(--primary-bg-color);">
        <div class="md:w-1/2"> “Being an ‘individual socialist’ is like being a fish out of water. You can have the best analysis of the
            world as you read about what’s happening on the internet, but you have no power to do anything about it
            unless you’re organized.” </div>
        <div class="text-right">— Todd Chretien
        </div>
    </section>
    <section class="p-4 text-center single-column">
        <div><strong>Following are the guiding principles of the Seattle Revolutionary Socialists.</strong></div>
        <div><hr class="m-4"/></div>
        <h2>Socialism, Not Capitalism</h2>
        <div>
            War, poverty, exploitation, oppression and worldwide environmental destruction are products of the
            capitalist system, a system in which a minority ruling class profits from the labor of the majority. The
            alternative is socialism, a society based on workers collectively owning and controlling the wealth their
            labor creates.

        </div>
        <div>We stand in the Marxist tradition, founded by Karl Marx and Frederick Engels, and continued by V.I. Lenin,
            Rosa Luxemburg and Leon Trotsky, and <strong>many others in the tradition of socialism from below.</strong>
        </div>
        <h2>Workers’ Power</h2>
        <div>Workers create society’s wealth, but have no control over its production and distribution. A socialist society can only be built when workers collectively take control of that wealth and democratically plan its production and distribution according to present and future human needs instead of profit.</div>
        <div>The working class is the vast majority of society, which includes the vast majority of women, black, indigenous, LGBTQ folks, and all oppressed groups, and is the key to the fight for socialism. Workers’ central role in production gives them a social power — by use of the strike weapon — to paralyze the system like no other social force.</div>
        <div>Socialism is working-class self-emancipation. Only mass struggles of the workers themselves can put an end to the capitalist system of oppression and exploitation.</div>
        <div>We support trade unions as essential to the fight for workers’ economic and political rights. To make the unions fight for workers’ interests, rank-and-file workers must organize themselves independent of the union officials.</div>
        <h2>Revolution</h2>
        <div>We actively support the struggle of workers and all oppressed people for economic, political and social reforms, both as a means to improve their conditions and to advance their confidence and fighting strength. But reforms within the capitalist system cannot put an end to oppression, exploitation or ecological devastation. Capitalism must be replaced.</div>
        <div>The structures of the present government grew up under capitalism and are designed to protect capitalist rule. The working class needs an entirely different kind of state — a democratic workers’ state based on councils of workers’ delegates.</div>
        <div>We do not support candidates of capitalist parties like the Democrats or the Republicans. The working class needs its own political party to give support to its struggles under capitalism.</div>
        <img src="/revolution.jpg" alt="A protester amongst a sea of others bears a sign saying: 'You can jail the revolutionary, but you cannot jail the revolution'">
        <h2>Internationalism</h2>
        <div>Capitalism is an international system, so the struggle for socialism must be international, uniting workers of all countries. The international working class is the only force capable of solving global problems like war, hunger and environmental destruction.</div>
        <div>Socialists oppose imperialism — the division of the globe based on the subjugation of weaker nations by stronger ones — and support the self-determination of oppressed nations. We oppose all immigration controls.</div>
        <div>We oppose U.S. intervention in Cuba, the Middle East, and elsewhere. We are for self-determination for Puerto Rico, Hawaii, Guam and all other U.S. Occupied Territories.</div>
        <div>China and Cuba , like the former Soviet Union, are not socialist. The ruling classes of those countries exploit their workers just as the capitalists in the rest of the world do. We do not support governments based on their proclaimed ideologies.  We support genuine workers' struggles in all countries against their ruling classes. We support workers' democratic control of the means of production.</div>
        <h2>Full Equality and Liberation</h2>
        <div>Capitalism divides the working class based on sexual orientation, gender, race, nationality and disability, as well as other distinctions. The specially oppressed groups within the working class suffer the most under capitalism.</div>
        <div>We oppose racism in all its forms. We support the struggle for immigrant rights. We demand justice for Native Americans and all Indigenous peoples. This includes the struggle for Land Back. We fight for real social, economic, sexual and political equality for women, for an end to discrimination against lesbian, gay, bisexual and transgender people, and to end the stigmatization and marginalization of people with disabilities.</div>
        <div>We oppose oppression based on race, gender, nationality, sexuality, religion or sexual orientation no matter what class or strata the oppression is aimed at. Oppression against any sector impacts everyone. This means that we defend politicians and other public figures from these attacks even when we oppose their politics or political party.</div>
        <div>The liberation of the oppressed is essential to socialist revolution and impossible without it. We support the fight for Black liberation in particular as the key to ending the main division inside the working class that began with slavery and continues today.</div>
        <h2>The Revolutionary Party</h2>
        <div>To achieve socialism, the most militant workers and oppressed people must be organized into a revolutionary socialist party. The SRS is committed to playing a role in laying the foundations for such a party. We aim to build an independent socialist organization, rooted in workplaces, schools and neighborhoods that, in fighting today’s struggles, also wins larger numbers to socialism.</div>
    </section>
</main>


{% endblock content %}